#profile .inner .profile-block #hireme {
  color: #fff;
  width: 150px;
  height: 40px;
  display: block;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  margin: 20px auto 10px;
  background: #ff0000;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}

#toc {
  float: none;
  font-size: 16px;
  line-height: normal;
  margin: 50px 0 0 30px;
}

#toc ul ul {
  margin: 0 0 0 15px;
}

#toc ul ul ul {
  margin: 0 0 0 30px;
}
